# If you want some example snippets, check out:
# https://github.com/atom/language-html

'.text.html':

# Template
  'Container':
    'prefix': 'Container'
    'body': """
            <div class="container${1:-fluid}">
             $2
            </div>
            """
    'description': 'It is a Bootstrap!'
    'descriptionMoreURL': 'https://getbootstrap.com/docs/4.1/layout/overview/#containers'
# Bootstrap 4 collection:

# Components-Cards
  'Card BS-4':
    'prefix': 'card'
    'body': """
            <div class="card"${1: style="width: 18rem;"}>
              <img class="card-img-top" src="${2:holder.js/100%x180/}" alt="${3:Card image cap}">
              <div class="card-body">
               <h5 class="card-title">${4:Card title}</h5>
               <p class="card-text">${5:Some quick example text to build on the card title and make up the bulk of the card's content.}</p>
               <a href="${6:#}" class="btn btn-primary">${7:Button name}</a>
              </div>
            </div>
            """
    'description': 'Card are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components'
    'descriptionMoreURL': 'https://getbootstrap.com/docs/4.1/components/card#example'

# Cards content types
  'Card body BS-4':
    'prefix': 'carbody'
    'description': 'Use it whenever you need a card padded section'
    'body': """
            <div class="card"${1: style="width: 18rem;"}>
              <div class="card-body">
                ${2:This is some text within a card body.}
              </div>
            </div>
            """

  'Card title-text-link BS-4':
    'prefix': 'cartitle'
    'description': 'Card with a titles, text, and links'
    'body': """
            <div class="card"${1: style="width: 18rem;"}>
              <div class="card-body">
                <h5 class="card-title">${2:Card title}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${3:Card subtitle}</h6>
                <p class="card-text">${4:Some quick example text to build on the card title and make up the bulk of the card's content.}</p>
                <a href="${5:#}" class="card-link">${6:Card link}</a>
                <a href="${7:#}" class="card-link">${8:Another link}</a>
              </div>
            </div>
            """

  'Card images top BS-4':
    'prefix': 'carimg'
    'description': 'Card with an image at the top'
    'body': """
            <div class="card"${1: style="width: 18rem;"}>
              <img class="card-img-top" src="${2:holder.js/100%x180/?text=Image cap}" alt="${3:Card image cap}">
              <div class="card-body">
                <p class="card-text">${4:Some quick example text to build on the card title and make up the bulk of the card's content.}</p>
              </div>
            </div>
            """

  'Card list groups BS-4':
    'prefix': 'carligroup'
    'description': 'reate lists of content in a card with a flush list group'
    'body': """
            <div class="card"${1: style="width: 18rem;"}>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">${2:Cras justo odio}</li>
                <li class="list-group-item">${3:Dapibus ac facilisis in}</li>
                <li class="list-group-item">${4:Vestibulum at eros}</li>
              </ul>
            </div>
            """

  'Card list header BS-4':
    'prefix': 'carligh'
    'description': 'Card: list groups - with card-header'
    'body': """
            <div class="card"${1: style="width: 18rem;"}>
              <div class="card-header">
                ${2:List header}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">${3:Cras justo odio}</li>
                <li class="list-group-item">${4:Dapibus ac facilisis in}</li>
                <li class="list-group-item">${5:Vestibulum at eros}</li>
              </ul>
            </div>
            """

  'Card full':
    'prefix': 'carmax'
    'description': 'Card with a multiple content types (max)'
    'body': """
            <div class="card"${1: style="width: 18rem;"}>
              <img class="card-img-top" src="${2:ip/img-law/png/}" alt="${3:Card image cap}">
              <div class="card-body">
                <h5 class="card-title">${4:Card title}</h5>
                <p class="card-text">${5:Some quick example text to build on the card title and make up the bulk of the card's content.}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">${6:Cras justo odio}</li>
                <li class="list-group-item">${7:Dapibus ac facilisis in}</li>
                <li class="list-group-item">${8:Vestibulum at eros}</li>
              </ul>
              <div class="card-body">
                <a href="${9:#}" class="card-link">${10:Card link}</a>
                <a href="${11:#}" class="card-link">${12:Another link}</a>
              </div>
            </div>
            """

  'Card content type BS-4':
    'prefix': 'carct'
    'body': """
            <div class="card"${1: style="width: 18rem;"}>
              <img class="card-img-top" src="${2:holder.js/100%x180/?text=Image cap}" alt="${3:Card image cap}">
              <div class="card-body">
                <h5 class="card-title">${4:Card title}</h5>
                <p class="card-text">${5:Some quick example text to build on the card title and make up the bulk of the card's content.}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">${6:Cras justo odio}</li>
                <li class="list-group-item">${7:Dapibus ac facilisis in}</li>
                <li class="list-group-item">${8:Vestibulum at eros}</li>
              </ul>
              <div class="card-body">
                <a href="${9:#}" class="card-link">${10:Card link}</a>
                <a href="${11:#}" class="card-link">${12:Another link}</a>
              </div>
            </div>
              """

# examples
# utilities

# content
# layout

  'Media object':
    prefix: 'vbb-media-object'
    body: """
          <div class="media">
            <img class="mr-3" src="${1:.../64x64}" alt="${2:Generic placeholder image}">
            <div class="media-body">
              <h5 class="mt-0">${3:Media heading}</h5>
              ${3:Text}
            </div>
          </div>
          """
    description: 'Below is an example of a single media object. Only two classes are required—the wrapping .media and the .media-body around your content. Optional padding and margin can be controlled through spacing utilities.'
    descriptionMoreURL: 'https://getbootstrap.com/docs/4.1/layout/media-object/#example'

# extend
# getting-started

  'vbb-container':
    'prefix': 'vbb-container'
    'body': """
            <div class="container">
             $0
            </div>
             """
    'description': 'Containers are the most basic layout element in Bootstrap and are required when using our default grid system. Choose from a responsive, fixed-width container (meaning its max-width changes at each breakpoint) or fluid-width (meaning it’s 100% wide all the time).'
    'descriptionMoreURL': 'https://getbootstrap.com/docs/4.1/layout/overview/#containers'
