# Scalable Vector Graphics (SVG) 2:
# W3C Candidate Recommendation 04 October 2018
# https://www.w3.org/TR/SVG2/

'.text.xml.svg':

  'ip use':
    prefix: 'ip-use'
    body: """
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
          <use href="/ip/svgs/${1:vb-}.svg#${1:vb-}" x="${2:0}" y="${3:0}" />
          </svg>
          """
    description: 'It takes nodes from within the SVG document, and duplicates them somewhere else'
    descriptionMoreURL: 'https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use'

  'ip icon-colors':
    prefix: 'ip-icon-colors'
    body: """
          <defs>
          <style type="text/css">
           .fill-blue {fill:#42a5f5;}
           .fill-amber {fill:#ffd180}
           .fill-red {fill:#ff7043}
           .fill-gray {fill:#adb5bd}
           .fill-gray2 {fill:#7289a7}
          </style>
          </defs>
            """
    description: 'Recomend icon colors'

  'ip Media object':
    prefix: 'ip-media-object'
    body: """
          <div class="media">
            <img class="mr-3" src="/ip/svgs/${1:vb-compass}.svg" width="auto" height="48" alt="${2:Image}">
            <div class="media-body">
              <h5 class="mt-0">${3:Media heading}</h5>
                ${3:Text}
            </div>
          </div>
          """
    description: 'The media object helps build complex and repetitive components where some media is positioned alongside content that doesn’t wrap around said media. Plus, it does this with only two required classes thanks to flexbox.'
    descriptionMoreURL: 'https://getbootstrap.com/docs/4.1/layout/media-object/#example'

  'ip border':
    prefix: 'ip-border'
    body: """
          <rect x="0" y="0" width="500" height="500" fill="none" stroke="#CC0F16" stroke-width="2"/>
          """
    description: 'Show viewBox borders'

  'vb USE Transform':
    prefix: 'vb-use-transform'
    body: """
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
          <use href="/ip/svgs/${1:vb-}.svg#${1:vb-}" transform="translate(${2:-12},${3:6}) scale(${4:.25})"/>
          </svg>
          """
    description: 'This transform definition specifies a translate and a scale operation by x and y.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/transform'

  'ip TOC col-1':
    prefix: 'ip-toc-col-1'
    body: """
          <svg xmlns="http://www.w3.org/2000/svg" id="SVGtocCol-1" viewbox="0 0 382 182">
            <defs>
              <rect id="tocBorder" width="380" height="60" fill="none" stroke="#cfd8dc" stroke-width="1" />
            </defs>
            <g font-family="'Noto Sans'" text-anchor="start" fill="#007bff" font-size="22">
              <a href="#1610booklet-buh">
                <text x="70" y="25">
                  ${1:Заголовок 1}
                  <tspan x="70" y="50" fill="#7289a7" font-size="18">
                    ${2:подзаголовок 1}
                  </tspan>
                </text>
                <use href="#tocBorder" x="0" y="0" />
              </a>
              <a href="#1615.html">
                <text x="70" y="85">
                  ${3:Заголовок 2}
                  <tspan x="70" y="110" fill="#7289a7" font-size="18">
                    ${4:подзаголовок 2}
                  </tspan>
                </text>
                <use href="#tocBorder" x="0" y="60" />
              </a>
              <a href="1614.html">
                <text x="70" y="145">
                  ${5:Заголовок 3}
                  <tspan x="70" y="170" fill="#7289a7" font-size="18">
                    ${6:подзаголовок 3}
                  </tspan>
                </text>
                <use href="#tocBorder" x="0" y="120" />
              </a>
            </g>
            <rect x="0" y="0" width="380" height="180" fill="none" stroke="#cfd8dc" stroke-width="0" />
          </svg>
          """
    description: 'Подкарусельное меню SVG'
    descriptionMoreURL: 'https://www.ib.ru/promo/1610'

  'ip TOC col-3':
    prefix: 'ip-toc-col-3'
    body: """
          <svg xmlns="http://www.w3.org/2000/svg" id="SVGtocCol-3" viewbox="0 0 1140 182">
            <g id="tocCols" font-family="'Noto Sans'" text-anchor="start" fill="#007bff" font-size="22">
              <g id="tocCol-1">
                <a href="#1610booklet-buh">
                  <text x="10" y="25">
                    Бухгалтерский учёт и отчётность
                    <tspan x="10" y="50" fill="#7289a7" font-size="18">
                      Бухгалтерский и налоговый учёт
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="0" y="0"/>
                </a>
                <a href="#1615.html">
                  <text x="10" y="85">
                    Зарплата и кадры
                    <tspan x="10" y="110" fill="#7289a7" font-size="18">
                      Начисления, выплаты, налоги, взносы
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="0" y="60"/>
                </a>
                <a href="1614.html">
                  <text x="10" y="145">
                    Денежные средства
                    <tspan x="10" y="170" fill="#7289a7" font-size="18">"Банк", "Касса", "Касса-онлайн"
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="0" y="120"/>
                </a>
              </g>
              <g id="tocCol-2">
                <a href="#1610booklet-sklad">
                  <text x="390" y="25">
                    Торговля. Товары и склад
                    <tspan x="390" y="50" fill="#7289a7" font-size="18">
                      Опт, розница, интернет-торговля
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="380" y="0"/>
                </a>
                <a href="#1610booklet-dop-pro">
                  <text x="390" y="85">
                    Производство
                    <tspan x="390" y="110" fill="#7289a7" font-size="18">
                      Производственный учёт. Комплектация
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="380" y="60"/>
                </a>
                <a href="1610booklet-uslugi">
                  <text x="390" y="145">
                    Учет работ, услуг
                    <tspan x="390" y="170" fill="#7289a7" font-size="18">
                      Оказанные (выполненные) и принятые
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="380" y="120"/>
                </a>
              </g>
              <g id="tocCol-3">
                <a href="#1610managersAcc">
                  <text x="770" y="25">
                    Управленческий учёт
                    <tspan x="770" y="50" fill="#7289a7" font-size="18">
                      Сметы, контроль, анализ
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="760" y="0"/>
                </a>
                <a href="#1625.html">
                  <text x="770" y="85">
                    Отраслевые решения
                    <tspan x="770" y="110" fill="#7289a7" font-size="18">
                      НКО, ТСЖ, СНТ, ГСК
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="760" y="60"/>
                </a>
                <a href="#1610ptv">
                  <text x="770" y="145">
                    Поддержка пользователей
                    <tspan x="770" y="170" fill="#7289a7" font-size="18">
                      Путеводители, онлайн сервисы
                    </tspan>
                  </text>
                  <use href="#topTOCborder" x="760" y="120"/>
                </a>
              </g>
              <rect x="0" y="0" width="1140" height="180" fill="none" stroke="#cfd8dc" stroke-width="0"/>
            </g>
          </svg>
          """
    description: 'Подкарусельное меню SVG'
    descriptionMoreURL: 'https://www.ib.ru/promo/1610'
