# Scalable Vector Graphics (SVG) 2:
# W3C Candidate Recommendation 04 October 2018
# https://www.w3.org/TR/SVG2/

'.text.xml.svg':

  'vb-ellipse':
    'prefix': 'vb-ellipse'
    'body': """
            <svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="100" cy="50" rx="100" ry="50" />
            </svg>
            """
  'description': 'The ellipse element is an SVG basic shape, used to create ellipses based on a center coordinate, and both their x and y radius.'
  'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/SVG/Element/ellipse'

  'vb-svg':
    'prefix': 'vb-svg'
    'body': """
            <?xml version="1.0" standalone="no"?>
            <svg width="5cm" height="4cm" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
              <desc>Four separate rectangles
              </desc>
                <rect x="0.5cm" y="0.5cm" width="2cm" height="1cm"/>
                <rect x="0.5cm" y="2cm" width="1cm" height="1.5cm"/>
                <rect x="3cm" y="0.5cm" width="1.5cm" height="2cm"/>
                <rect x="3.5cm" y="3cm" width="1cm" height="0.5cm"/>

              <!-- Show outline of viewport using 'rect' element -->
              <rect x=".01cm" y=".01cm" width="4.98cm" height="3.98cm"
                    fill="none" stroke="blue" stroke-width=".02cm" />
            </svg>
                """


  'vb-grouping':
    'prefix': 'vb-grouping'
    'body': """
            <?xml version="1.0" standalone="no"?>
              <svg xmlns="http://www.w3.org/2000/svg"
                   version="1.1" width="5cm" height="5cm">
                <desc>Two groups, each of two rectangles</desc>
                <g id="group1" fill="red">
                  <rect x="1cm" y="1cm" width="1cm" height="1cm"/>
                  <rect x="3cm" y="1cm" width="1cm" height="1cm"/>
                </g>
                <g id="group2" fill="blue">
                  <rect x="1cm" y="3cm" width="1cm" height="1cm"/>
                  <rect x="3cm" y="3cm" width="1cm" height="1cm"/>
                </g>

                <!-- Show outline of viewport using 'rect' element -->
                <rect x=".01cm" y=".01cm" width="4.98cm" height="4.98cm"
                      fill="none" stroke="blue" stroke-width=".02cm"/>
              </svg>
              """
    'description': 'The -g- element. An element which can have graphics elements and other container elements as child elements.'
    'descriptionMoreURL': 'https://www.w3.org/TR/SVG2/struct.html#Groups'
