# Scalable Vector Graphics (SVG) 2:
# W3C Candidate Recommendation 04 October 2018
# https://www.w3.org/TR/SVG2/

'.text.xml.svg':

  'vv color-icon':
    prefix: 'vv-color-icon'
    body: """
          <defs>
          <style type="text/css">
           .fill-blue {fill:#42a5f5;}
           .fill-amber {fill:#ffd180}
           .fill-red {fill:#ff7043}
           .fill-gray {fill:#adb5bd}
           .fill-gray2 {fill:#7289a7}
          </style>
          </defs>
            """
  description: 'Recomend icon colors'

  'vv color-cyan':
    prefix: 'vv-color-cyan'
    body: """
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">

            <rect x="0" y="0" width="170" height="170" fill="#23807e"/>
            <rect x="170" y="0" width="170" height="170" fill="#4afcfe"/>
            <rect x="340" y="0" width="170" height="170" fill="#55dafd"/>

            <rect x="0" y="170" width="170" height="170" fill="#2e95b4"/>
            <rect x="170" y="170" width="170" height="170" fill="#59d3c8"/>
            <rect x="340" y="170" width="170" height="170" fill="#41ffc9"/>

            <rect x="0" y="340" width="170" height="170" fill="#1d7791"/>
            <rect x="170" y="340" width="170" height="170" fill="#b2fefe"/>
            <rect x="340" y="340" width="170" height="170" fill="#41bbac"/>
          </svg>
          """
    description: 'Cyan [saɪ.ən] or rarely, [ˈsaɪ.æn] is a greenish-blue color. It is evoked by light with a predominant wavelength of between 490–520 nm, between the wavelengths of green and blue.'
    descriptionMoreURL: 'https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BD%D0%B5-%D0%B7%D0%B5%D0%BB%D1%91%D0%BD%D1%8B%D0%B9_%D1%86%D0%B2%D0%B5%D1%82'

  'vv color cyan-deep-purple':
    prefix: 'vv-color-cyan-deep-purple'
    body: """
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <rect x="20" y="20" fill="#0097A7" width="246" height="200"/>
            <rect x="266" y="20" fill="#00BCD4" width="246" height="200"/>
            <rect x="512" y="20" fill="#B2EBF2" width="246" height="200"/>
            <rect x="758" y="20" fill="#FFFFFF" width="246" height="200"/>
            <rect x="20" y="220" fill="#7C4DFF" width="246" height="200"/>
            <rect x="266" y="220" fill="#212121" width="246" height="200"/>
            <rect x="512" y="220" fill="#757575" width="246" height="200"/>
            <rect x="758" y="220" fill="#BDBDBD" width="246" height="200"/>
          </svg>
          """
    description: 'Palette generated by Material Palette - materialpalette.com/cyan/deep-purple'
    descriptionMoreURL: 'https://www.materialpalette.com/cyan/deep-purple'
